:root {
    --header-bg-color: #05386B;
    --a-text-color: #EDF5E1;
    --a-hover-color: #5CDB95;
    --main-bg-color: #5CDB95;
    --main-text-color: #EDF5E1;
  }

@font-face { 
    font-family: 'Monoid'; 
    src: url('../Monoid/Monoid-Regular.ttf'); 
}

body {
    font-family: Monoid;
    width: 1920px;
    margin: 0; 
    overflow-y: auto; 
    overflow-x: hidden;
    min-height: 1080px;
    max-height: 100vh;

    /*background-image: url(../Source/Img/background.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;*/
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    background-color: var(--header-bg-color);
}

header .logo {
    height: 70px;
    width: 165px;
    filter: invert(87%) sepia(31%) saturate(131%) hue-rotate(53deg) brightness(110%) contrast(92%);
}

header .logo:hover {
    filter: invert(78%) sepia(49%) saturate(454%) hue-rotate(88deg) brightness(90%) contrast(92%);
}

.navigation {
    flex-grow: 1;
    text-align: center;
}

.navigation a:last-child {
    margin-right: 0;
}

.navigation a {
    margin: 0 200px;
    font-size: 22px;
    text-decoration: none;
    color: var(--a-text-color);
    padding: 15px 30px; 
    background-color: var(--header-bg-color);
    border-radius: 30px;
}

.navigation a:hover {
    color: var(--a-hover-color);
}

.search {
    text-align: right;
    margin: 0 30px 0 30px;
}

.search input[type="text"] {
    height: 25px;
    width: 200px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 20px;
}
