.explanation {
    height: 100px;
    width: 450px;
    
    position: absolute;
    margin: 50px 735px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-weight: 700;
    font-size: 42px;
    line-height: 77px;

    color: var(--header-bg-color);
    z-index: -1;
}

.both {
    height: 100px;
    width: 100px;
    padding: 50px 50px 45px 40px;
    border-radius: 100px;
    
    position: absolute;
    margin: 410px 880px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 86px;

    background-color: var(--header-bg-color);
    color: var(--a-text-color);
}

.choosetest {
    width: 1920px;
    height: 990px;
    display: flex;
}

.leftside, .rightside {
    height: 990px;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 77px;
    
    color: var(--header-bg-color);
}

.choosetest a {
    text-decoration: none;
}

.both:hover {
    transition-duration: 1.5s;
    color: var(--eth);
    transform: scale(1.3);
}

.leftside:hover {
    transition: 1s;
    color: var(--a-text-color);
}

.rightside:hover {
    transition: 1s;
    color: var(--a-text-color);
}
  
.leftside::before {
    content: "";
    position: absolute;
    left: 0;
    width: 200px;
    height: 990px;
    background: linear-gradient(to right, var(--header-bg-color) 10%, var(--main-bg-color) 100%);
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
}

.leftside:hover::before {
    transform: translateX(0);
}

.rightside::before {
    content: "";
    position: absolute;
    right: 0;
    width: 200px;
    height: 990px;
    background: linear-gradient(to left, var(--header-bg-color) 10%, var(--main-bg-color) 100%);
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.rightside:hover::before {
    transform: translateX(0);
}