main{
    display: flex;
}

.menu {
    position: absolute;
    width: 300px;
    height: 990px;
    background-color: var(--header-bg-color);
    overflow-y:auto;
    overflow-x:hidden;
    font-size: 18px;
}

ul {
    width: 275px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 15px 25px;
    text-align: center;
    border-top: 1px solid var(--a-text-color);
    border-bottom: 1px solid var(--a-text-color);
}

.menu a {
    color: var(--a-text-color);
    text-decoration: none;
}

li:hover {
    color: var(--a-hover-color);
}

.content {
    margin-left: 400px; 
    display: flex; 
    flex-direction: column;
    color: var(--header-bg-color);
    font-size: 32px;

    height: 990px;
    overflow-y:auto;
    overflow-x:hidden;
}

.title{
    margin-top: 25px;
    text-align: center;
}

.text {
    font-family: Tahoma, sans-serif;
    flex-grow: 1;
    padding: 0 50px;
}