.test{
    width: 100%;
    height: 100%;
    margin: 0;
    visibility: visible;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    width: 100%;
    height: 100%;
    margin: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    width: 40%;
    height: 50px;
    margin: 50px auto;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.formula{
    width: 100%;
    height: 40%;
    margin: 50px auto;

    font-style: italic;
    font-weight: 700;
    font-size: 144px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--header-bg-color);
}

.chooseAnswer{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 100px 200px;
}

/*
.chooseAnswer a{
    width: 300px;
    height: 150px;
    margin: 100px auto;
    padding: 10px;

    background: #63ff5b;
    border-radius: 80px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
    text-decoration: none;
}
*/
.getAnswer {
    font-size: calc(0.6vw);
    clear: both; 
    text-align: right;
}

.getAnswer a {
    font-size: calc(0.6vw);
    text-decoration: none;
    color: var(--a-text-color);
    padding: 25px 50px; 
    background-color: var(--header-bg-color);
    border-radius: 50px;

}

.getAnswer a:hover {
    color: var(--a-hover-color);
}
/*
main::after {
    content: "";
    display: table;
    clear: both;
}
*/
.progress2 {
    border-radius: 20px;
    background-color: #fff;
}

.progress-bar2 {
    height: 40px;
    border-radius: 20px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

/* .progress-moved .progress-bar2 { */
    /* background-color: #6EE768; */
    /* animation: progress 5s infinite; */
/* } */

@keyframes progress {
    0% {
        width: 0%;
        background: #f9bcca;
    }

    100% {
        width: 100%;
        background: #6EE768;
        box-shadow: 0 0 40px #6EE768;
    }
}

.icon {
    color: #6EE768;
    /* animation: icon 5s infinite; */
    background-color: transparent;
    padding-right: 1000px;
    padding-bottom: 20px;
}

/* @keyframes icon {
    0% {
        opacity: 0.2;
        text-shadow: 0 0 0 #6EE768;
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 10px #6EE768;
    }
} */

.loader {
    --p: 0;
    /* animation: p 5s steps(100) infinite; */
    counter-reset: p var(--p);
    font-size: 24px;
    position: absolute;
    top: 163px;
    left: 925px;
    color: #000000;
}

.loader::after {
    content: counter(p) "/36";
}