body {
    overflow: hidden; 
}

main {
    position: fixed;
    display: flex;
    margin-top: 250px;
    width: 1920px;
    height: 500px;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateY(-10px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.welcome {
    margin: 0px 0px 60px 0px;
    font-size: 32px;
    text-align: center;
    width: 50%; 
    float: right;
    color: var(--header-bg-color);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.5s;
}

@keyframes slideIn {
    0% {
        transform: translateY(200%) rotateY(0deg);;
    }
    100% {
        transform: translateY(0) rotateY(360deg);;
    }
}

.mainlogo {
    margin: 50px 0 0 250px; 
    filter: invert(15%) sepia(48%) saturate(2554%) hue-rotate(190deg) brightness(98%) contrast(97%);
    animation: slideIn 1.5s ease forwards;
}


.mainlogotxt {
    opacity: 0;
    margin: 70px 200px 0px 0px;
    filter: invert(15%) sepia(48%) saturate(2554%) hue-rotate(190deg) brightness(98%) contrast(97%);
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.5s;
}

.mainlogo img {
    height: 200px;
}

.mainlogotxt img {
    height: 180px;
}

.getstarted {
    margin-top: 75px;
    font-size: 20px;
    clear: both; 
}

.getstarted a {
    font-size: 24px;
    text-decoration: none;
    color: var(--a-text-color);
    padding: 30px 50px; 
    background-color: var(--header-bg-color);
    border-radius: 45px;
}

.getstarted a:hover {
    color: var(--a-hover-color);
}

main::after {
    content: "";
    display: table;
    clear: both;
}