<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'CSS/All.css' %}">
    <link rel="stylesheet" href=" {% static 'CSS/ChooseTest.css' %}">
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="shortcut icon" href="logo.png" type="image/png">

    <link rel="icon" href=" {% static 'Source/Img/mainlogo.png' %}" type="image/png">
    <link rel="shortcut icon" href=" {% static 'Source/Img/mainlogo.png' %}" type="image/png">
	<title>Formulas of physics</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'Source/Img/logo.png' %}" alt="Логотип" class="logo">
        </a>
        
        <div class="navigation">
            <a href="/theory"><b>Теория</b></a>
            <a href="/practice"><b>Практика</b></a>
        </div>

        <div class="search">
            <form action="search.php" method="get">
                <input type="text" name="search" placeholder="Поиск...">
            </form>
        </div>
    </header>

	<div class="explanation">
		Выберите тест
	</div>

	<a href="/tests">
		<div class="both">
			&
		</div>
	</a>
	
	<div  class="choosetest">
		<a href="/testsK">
			<div class="theme">
				<div class="themename leftside">
					<h1><em>Кинематика</em></h1>
				</div>
			</div>
		</a>

		<a href="/testsD">
			<div class="theme">
				<div class="themename rightside">
					<h1><em>Динамика</em></h1>
				</div>
			</div>
		</a>
			
	</div>
</body>
</html>