<!DOCTYPE html>
{% load static %}
<html lang="rus"> 
<head> 
    <script> 

        function changeImage(sourceimg, sourceimgdown, ftitle)
        {
        var way = `Source/Formuls/${sourceimg}`
        var waydown = `Source/Formuls/${sourceimgdown}`

        var img = document.getElementById("image");
        var imgdown = document.getElementById("imagedown");
        var formtitle = document.getElementById("ftitle");

        img.src= `{% get_static_prefix %}${way}`;
        imgdown.src= `{% get_static_prefix %}${waydown}`;
        formtitle.innerHTML = ftitle

        return false;
        }
        
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'CSS/All.css' %}">
    <link rel="stylesheet" href=" {% static 'CSS/Learning.css' %}">
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="shortcut icon" href="logo.png" type="image/png">

    <link rel="icon" href=" {% static 'Source/Img/mainlogo.png' %}" type="image/png">
    <link rel="shortcut icon" href=" {% static 'Source/Img/mainlogo.png' %}" type="image/png">
	<title>Formulas of physics</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'Source/Img/logo.png' %}" alt="Логотип" class="logo">
        </a>
        
        <div class="navigation">
            <a href="/theory"><b>Теория</b></a>
            <a href="/practice"><b>Практика</b></a>
        </div>

        <div class="search">
            <form action="search.php" method="get">
                <input type="text" name="search" placeholder="Поиск...">
            </form>
        </div>
    </header>

    <main>
        <div class="menu">
            <ul>
                <a><li><h1><em>Кинематика</em></h1></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/1.jpg', 'DiscK/1.jpg',  'Время подъёма на максимальную высоту');"><li><em>Время подъёма на максимальную высоту</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/2.jpg', 'DiscK/2.jpg', 'Дальность полёта тела, брошенного под углом альфа к горизонту');"><li><em>Дальность полёта тела, брошенного под углом альфа к горизонту </em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/3.jpg', 'DiscK/3.jpg', 'Конечная скорость вертикального полёта');"><li><em>Конечная скорость вертикального полёта</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/4.jpg', 'DiscK/4.jpg', 'Координата Y тела, вериткально брошенного вверх или вниз');"><li><em>Координата Y тела, вериткально брошенного вверх или вниз</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/5.jpg', 'DiscK/5.jpg', 'Координата точки x в момент t равноускоренном движении');"><li><em>Координата точки x в момент t равноускоренном движении</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/6.jpg', 'DiscK/6.jpg', 'Максимальная высота подъёма тела, брошенного под углом альфа к горизонту');"><li><em>Максимальная высота подъёма тела, брошенного под углом альфа к горизонту</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/7.jpg', 'DiscK/7.jpg', 'Продолжительность свободного падения');"><li><em>Продолжительность свободного падения</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/8.jpg', 'DiscK/8.jpg', 'Скорость в момент времени t при равноускоренном движении');"><li><em>Скорость в момент времени t при равноускоренном движении</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/9.jpg', 'DiscK/9.jpg', 'Скорость тела, вертикально брошенного вверх или вниз');"><li><em>Скорость тела, вертикально брошенного вверх или вниз</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/10.jpg', 'DiscK/10.jpg', 'Средняя скорость');"><li><em>Средняя скорость</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/11.jpg', 'DiscK/11.jpg', 'Формула центростримительного ускорения 2');"><li><em>Формула центростримительного ускорения 2</em></li></a>
                <a id="clickme" onclick="changeImage('Kinematik/12.jpg', 'DiscK/12.jpg', 'Центростремительное ускорение');"><li><em>Центростремительное ускорение</em></li></a>

                <a><li><h1><em>Динамика</em></h1></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/1.jpg', 'DiscD/1.jpg', 'Второй закон Ньютона');"><li><em>Второй закон Ньютона</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/2.jpg', 'DiscD/2.jpg', 'Закон Гука в относительной формуле');"><li><em>Закон Гука в относительной формуле</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/3.jpg', 'DiscD/3.jpg', 'Импульс тела');"><li><em>Импульс тела</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/4.jpg', 'DiscD/4.jpg', 'Координата центра масс');"><li><em>Координата центра масс</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/5.jpg', 'DiscD/5.jpg', 'Механическая работа 2');"><li><em>Механическая работа 2</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/6.jpg', 'DiscD/6.jpg', 'Механическое напряжение');"><li><em>Механическое напряжение</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/7.jpg', 'DiscD/7.jpg', 'Момент силы');"><li><em>Момент силы</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/8.jpg', 'DiscD/8.jpg', 'Мощности 3');"><li><em>Мощности 3</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/9.jpg', 'DiscD/9.jpg', 'Мощность 2');"><li><em>Мощность 2</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/10.jpg', 'DiscD/10.jpg', 'Мощность');"><li><em>Мощность</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/11.jpg', 'DiscD/11.jpg', 'Определение механической работы');"><li><em>Определение механической работы</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/12.jpg', 'DiscD/12.jpg', 'Определение ускорения свободного падения');"><li><em>Определение ускорения свободного падения</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/13.jpg', 'DiscD/13.jpg', 'Относительное удлинение (закон Гука)');"><li><em>Относительное удлинение (закон Гука)</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/14.jpg', 'DiscD/14.jpg', 'Потенциальная энергия упруго деформированного тела');"><li><em>Потенциальная энергия упруго деформированного тела</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/15.jpg', 'DiscD/15.jpg', 'Потенциальная энергия упруго деформированного тела2');"><li><em>Потенциальная энергия упруго деформированного тела2</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/16.jpg', 'DiscD/16.jpg', 'Сила Архимеда');"><li><em>Сила Архимеда</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/17.jpg', 'DiscD/17.jpg', 'Сила реактивной тяги');"><li><em>Сила реактивной тяги</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/18.jpg', 'DiscD/18.jpg', 'Сила сопративления');"><li><em>Сила сопративления</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/19.jpg', 'DiscD/19.jpg', 'Сила трения скольжения');"><li><em>Сила трения скольжения</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/20.jpg', 'DiscD/20.jpg', 'Сила тяготения');"><li><em>Сила тяготения</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/21.jpg', 'DiscD/21.jpg', 'Сила упругости');"><li><em>Сила упругости</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/22.jpg', 'DiscD/22.jpg', 'Скорость центра масс');"><li><em>Скорость центра масс</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/23.jpg', 'DiscD/23.jpg', 'Формула давления 2');"><li><em>Формула давления 2</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/24.jpg', 'DiscD/24.jpg', 'Формула давления');"><li><em>Формула давления</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/25.jpg', 'DiscD/25.jpg', 'Формула импульса силы');"><li><em>Формула импульса силы</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/26.jpg', 'DiscD/26.jpg', 'Формула полной(механической) энергии');"><li><em>Формула полной(механической) энергии</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/27.jpg', 'DiscD/27.jpg', 'Формула потенциальной энергии 2');"><li><em>Формула потенциальной энергии 2</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/28.jpg', 'DiscD/28.jpg', 'Формула потенциальной энергии');"><li><em>Формула потенциальной энергии</em></li></a>
                <a id="clickme" onclick="changeImage('Dinamik/29.jpg', 'DiscD/29.jpg', 'Формула средней кинетической энергии');"><li><em>Формула средней кинетической энергии</em></li></a>

            </ul>
        </div>
        <div class="content">
            <div class="title">
                <h1 id ="ftitle"><em>Кинематика</em></h1>
            </div>
            <div class="title">
                <img id="image" src="{% static 'Source/Img/mainlogo.png' %}" />
            </div>
            <div class="title">
                <img id="imagedown" src="">
            </div>
        </div>
    </main>
</body>
</html>