{% load static %}
<html lang="en">
<head>
	<script>
		var obj = {
			'Время подъёма на максимальную высоту': 'Kinematik/1.jpg',
			'Дальность полёта тела, брошенного под углом альфа к горизонту': 'Kinematik/2.jpg',
			'Конечная скорость вертикального полёта': 'Kinematik/3.jpg',
			'Координата Y тела, вериткально брошенного вверх или вниз': 'Kinematik/4.jpg',
			'Координата точки x в момент t равноускоренном движении': 'Kinematik/5.jpg',
			'Максимальная высота подъёма тела, брошенного под углом альфа к горизонту': 'Kinematik/6.jpg',
			'Продолжительность свободного падения': 'Kinematik/7.jpg',
			'Скорость в момент времени t при равноускоренном движении': 'Kinematik/8.jpg',
			'Скорость тела, вертикально брошенного вверх или вниз': 'Kinematik/9.jpg',
			'Средняя скорость': 'Kinematik/10.jpg',
			'Формула центростримительного ускорения 2': 'Kinematik/11.jpg',
			'Центростремительное ускорение': 'Kinematik/12.jpg'
		};
		var keys = Object.keys(obj);
		var score = {
			'plus': 0,
			'all': 0,
			'maximum': 10,
			'right_answer': 'text' 
		};
		var end = {};
		
		function quest(activebtn)
		{
			if (score['right_answer'] == activebtn.innerHTML){
				score['plus'] = score['plus'] + 1;
				end[`Вопрос ${score['all']}`] = 'Верно';
			}
			else {
				end[`Вопрос ${score['all']}`] = 'Неверно';
			}

			if (score['all'] >= score['maximum']){
				document.getElementById("test123").remove();
				document.getElementById("formula123").innerHTML = `${score['plus']}/${score['maximum']}`;
				var endstr = "";
				var idendstr = 0;
				for (let j in end) {
					idendstr += 1;
					endstr = endstr + `${idendstr}: ${end[j]}<br>`;
				};
				document.getElementById("corincor").innerHTML = endstr;
				document.getElementById("result123").style.visibility = 'visible';
			}

			var a1 = document.getElementById("answer1");
			var a2 = document.getElementById("answer2");
			var a3 = document.getElementById("answer3");
			var img = document.getElementById("megatask");

			score['all'] = score['all'] + 1
			var randkey = keys[ keys.length * Math.random() << 0];
			var randimg = obj[randkey];

			var way = `Source/Formuls/${randimg}`;
			img.src= `{% get_static_prefix %}${way}`;

			a1.innerHTML = keys[ keys.length * Math.random() << 0];
			a2.innerHTML = randkey;
			a3.innerHTML = keys[ keys.length * Math.random() << 0];

			score['right_answer'] = randkey;
			console.log(score)
		}
		
	</script>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Test" content="width=device-width, initial-scale=1.0">
	{% comment %} <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> {% endcomment %}
    <link rel="stylesheet" href=" {% static 'CSS/All.css' %}">
    <link rel="stylesheet" href=" {% static 'CSS/Test.css' %}">

    <link rel="icon" href="logo.png" type="image/png">
    <link rel="shortcut icon" href="logo.png" type="image/png">
	<title>Formulas of physics</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'Source/Img/logo.png' %}" alt="Логотип" class="logo">
        </a>
        
        <div class="navigation">
            <a href="/theory"><b>Теория</b></a>
            <a href="/practice"><b>Практика</b></a>
        </div>

        <div class="search">
            <form action="search.php" method="get">
                <input type="text" name="search" placeholder="Поиск...">
            </form>
        </div>
    </header>

	<div id="test123" class="test">
		{% comment %} <div class="slider">
			<div class="w3-border" style = "width:100%">
				<div id="pbsuper" class="w3-green" style="height:24px;width:0%"></div>
			</div> 
		</div> {% endcomment %}
		<div class="formula">
			<img id='megatask' src="{% static 'Source/Formuls/Kinematik/1.jpg' %}">
		</div>
		<div class="chooseAnswer">
			<div class="getAnswer">
				<a id="answer1" class="chooseOne" onclick = "quest(a1);"><b>Плотность</b></a>
			</div>

			<div class="getAnswer">
				<a id="answer2" class="chooseTwo" onclick = "quest(a2);"><b>Давление</b></a>
			</div>

			<div class="getAnswer">
				<a id="answer3" class="chooseThree" onclick = "quest(a3);"><b>Сила тяжести</b></a>
			</div>
		</div>
	</div>
	<div id="result123" class="result">
		<div id="formula123" class="formula"></div>
		<div id="corincor"></div> 
		<div><br><br></div>
		<div class="getAnswer">
			<a href="/practice" class="chooseTwone"><b>Заново</b></a>
		</div>
	</div>
</body>
<script>
	score['all'] = score['all'] + 1
	var a1 = document.getElementById("answer1");
	var a2 = document.getElementById("answer2");
	var a3 = document.getElementById("answer3");
	var img = document.getElementById("megatask");

	var randkey = keys[ keys.length * Math.random() << 0];
	var randimg = obj[randkey];

	var way = `Source/Formuls/${randimg}`;
	img.src= `{% get_static_prefix %}${way}`;

	a1.innerHTML = keys[ keys.length * Math.random() << 0];
	a2.innerHTML = randkey;
	a3.innerHTML = keys[ keys.length * Math.random() << 0];
	score['right_answer'] = randkey;
	console.log(score)
</script>
</html>