{% load static %}
<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'CSS/All.css' %}">
    <link rel="stylesheet" href=" {% static 'CSS/Title.css' %}">
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="shortcut icon" href="logo.png" type="image/png">
	<title>Formulas of physics</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'Source/Img/logo.png' %}" alt="Логотип" class="logo">
        </a>
        
        <div class="navigation">
            <a href="/theory"><b>Теория</b></a>
            <a href="/practice"><b>Практика</b></a>
        </div>

        <div class="search">
            <form action="search.php" method="get">
                <input type="text" name="search" placeholder="Поиск...">
            </form>
        </div>
    </header>
    
    <main>
        <div class="mainlogo">
            <img src="{% static 'Source/Img/titlelogo_1.png' %}" alt="Логотип">
        </div>
        <div class="mainlogotxt">
            <img src="{% static 'Source/Img/titlelogo_2.png' %}" alt="Название">
        </div>
        <div class="welcome">
            <h1>Добро пожаловать!</h1>
            <p>Здесь вы сможете повторить физику и<br>проверить свои знания</p>
            <div class="getstarted">
                <a href="/theory"><b>Начать</b></a>
            </div>
        </div>
    </main>
</body>
</html>